In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
import os

In [20]:
path = "Datasets/"

In [59]:
def getProtectedAttributesTwitch(G, df):
    protected_attributes = dict(zip(df["numeric_id"], df["mature"]))
    newG = nx.set_node_attributes(G, protected_attributes, "mature")
    return newG

In [60]:
# Twitch gamers Graph
twitchGamers_graph = nx.read_edgelist("{}twitch_gamers/large_twitch_edges.csv".format(path), nodetype=int, delimiter=",")

In [61]:
twitchGamers_features = pd.read_csv("{}twitch_gamers/large_twitch_features.csv".format(path))

In [62]:
twitchGamers_graph_WithProtectedAttributes = getProtectedAttributesTwitch(twitchGamers_graph, twitchGamers_features)

In [66]:
getProtectedAttributesTwitch(twitchGamers_graph, twitchGamers_features)

In [52]:
# Deezer europe Graph
deezer_graph = nx.read_edgelist("{}deezer_europe/deezer_europe/deezer_europe_edges.csv".format(path), nodetype=int, delimiter=",")

In [55]:
# Read Deezer genders
deezer_gendersDf = pd.read_csv("{}/deezer_europe/deezer_europe/deezer_europe_target.csv".format(path))

In [56]:
deezer_gendersDict = dict(zip(deezer_gendersDf["id"], deezer_gendersDf["target"]))

In [58]:
nx.set_node_attributes(G=twitchGamers_graph, name='mature', values=deezer_gendersDict)

In [22]:
# Read Twitch Gamers Features
twitchGamers_features = pd.read_csv("{}twitch_gamers/large_twitch_features.csv".format(path))

In [23]:
twitchGamers_features

,views,mature,life_time,created_at,updated_at,numeric_id,dead_account,language,affiliate
0,7879,1,969,2016-02-16,2018-10-12,0,0,EN,1
1,500,0,2699,2011-05-19,2018-10-08,1,0,EN,0
2,382502,1,3149,2010-02-27,2018-10-12,2,0,EN,1
3,386,0,1344,2015-01-26,2018-10-01,3,0,EN,0
4,2486,0,1784,2013-11-22,2018-10-11,4,0,EN,0
...,...,...,...,...,...,...,...,...,...
168109,4965,0,810,2016-07-20,2018-10-08,168109,0,EN,0
168110,4128,1,2080,2013-01-31,2018-10-12,168110,0,EN,0
168111,3545,0,1797,2013-11-08,2018-10-10,168111,0,EN,1
168112,892736,1,2135,2012-12-07,2018-10-12,168112,0,EN,0
168113,791,0,2005,2013-01-22,2018-07-20,168113,0,EN,0

In [24]:
twitchGamers_features = twitchGamers_features[["mature","numeric_id"]]

In [25]:
twitchGamers_features

        mature  numeric_id
0            1           0
1            0           1
2            1           2
3            0           3
4            0           4
...        ...         ...
168109       0      168109
168110       1      168110
168111       0      168111
168112       1      168112
168113       0      168113

[168114 rows x 2 columns]

In [26]:
twitchGamersDict =  dict(zip(twitchGamers_features["numeric_id"],twitchGamers_features["mature"]))

In [27]:
nx.set_node_attributes(G=twitchGamers_graph, name='mature', values=twitchGamersDict)

In [37]:
listNodes = twitchGamers_graph.nodes()

In [46]:
listNodes[4]

{'mature': 0}